 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
 </head>
 <body>
     <h1>비밀번호 변경</h1>
     <form action="/myhome/update" method="POST">
        기존 패스워드 : <input type="password" name="defaultPW"><br>
        변경 비밀번호 : <input type="password" name="PW"><br>
        <input type="submit" value="버튼클릭">
    </form>
 </body>
 </html>