<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/mainForm.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li class="home"><a href="/main">Home</a></li>
            <li class="dropdown">
                <a href="/board/page/1"><div class="dropdown-menu">게시판</div></a>
            </li>
            <li class="dropdown">
                <a href="/myhome"><div class="dropdown-menu">마이페이지</div></a>
            </li>
        </ul>
    </nav>
    <h1>main page</h1>
    <div class="mainForm">
    <h3>welcome, <%=id%> !!</h3>
    <p>This is boardPage! </p>
    
    <!--<a href="/board/write">글쓰기</a><br/>-->
    <div><a href="/logout">logout</a></div>
    </div>
</body>
</html>