<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>마이페이지</h1>
    <div>이름 : <%=name%></div>
    <div>아이디 : <%=ID%></div>
    <div>비밀번호 : <%=PW%></div>
    <!--{'name':name,'ID':ID, 'PW':PW}-->
    <a class="btn" href="/myhome/update">비밀번호 변경</a>
</body>
</html>