<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/writeForm.css">
    <title><%= title %></title>
</head>
<body>
<h1><%= title %></h1>
 
 
<form action="/board/write" method="post">
    <table border="1">
        <tr>
            <td class = "td_n">제목</td>
            <td><input class="name" type="text" name="title" id="title" required/></td>
        </tr>
        <tr>
            <td class = "td_n">내용</td>
            <td><textarea class="contents" name="content" id="content" cols="30" rows="10" required></textarea></td>
        </tr>
        <tr> 
            <td colspan="2">
                <button class="submit" type="submit">글쓰기</button>
            </td>
        </tr>
    </table>
</form>
 
 
</body>
</html>
