h1{
    text-align: center;
    font-size: 30px;
}
.join-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    width: 500px;
}
 
.join{
    background: #FFF;
    padding: 80px; 
    border-radius: 15px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
}
.join .form-control {
    box-shadow: none;
    padding: 20px;
    border: 1px solid #e8e8e8;
    background: #e8e8e8;
}
.form-control {
    width: 280px;
}
 
.join .sendbtn{ 
    background: #84be63;
    border: none;
    color: #FFF; 
    text-transform: uppercase;
    border-radius: 0;
    font-size: 16px;
    height: 50px;
    width: 322px;
}
.sendbtn:hover{
    background: #a7e089;
}
body{
    
    background-image: url('../image/loginBG.jpg');
    background-repeat: no-repeat;
    background-position: center center;
}
.messages {
    color: #963b3b;
    margin-bottom: 16px;
}