.td_n{
    background-color:#c9c9c9;
}
table {
    border: 1px solid #444444;
    border-collapse: collapse;
    border-right:none;

    border-left:none;

    border-top:none;

    border-bottom:none;
  }
td {
    border: 1px solid #444444;
    padding: 10px;
  }

.btn{
    text-decoration: underline;
    background-color: white;
    border: none;
    font-size: medium;
    color: rebeccapurple;
}
.btn:hover{
    cursor: pointer;
}
